<div class="foot" >
   <h3>Des idées pour vos prochaines escapades</h3>

   <div class="foot1" >

      <ul>
        <li><a href="/idee/populaire" (click)="viewOngletMatche('populaire')" >Populaire</a></li>
        <li><a href="/idee/cote" (click)="viewOngletMatche('cote')" >Sur la cote</a></li>
        <li><a href="/idee/sport" (click)="viewOngletMatche('sport')" >Sport d'hiver</a></li>
        <li><a href="/idee/montagne" (click)="viewOngletMatche('montagne')" >Montagne</a></li>
        <li><a href="/categorie" (click)="viewOngletMatche('categorie')" >Catégories</a></li>
        <li><a href="/activité" (click)="viewOngletMatche('activite')" >Activités</a></li>
      </ul>

      <div>
            <hr>
            <div id="onglet1" >
                  <ul>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  <li><a href=""><span></span><span></span></a></li>
                  </ul>
            </div>

            <div id="onglet2" >
              <ul>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
              </ul>
            </div>

            <div id="onglet3"  *ngIf="visibilityOngletSport">
              <ul>
               <li><a href=""><span>L'Alpe d'Huez</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Annecy</span><span>Locations de maisons</span></a></li>
               <li><a href=""><span>Aussois</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Ax-les-Thermes</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Bagnères-de-Luchon</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Barèges</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Bonneval-sur-Arc</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Brides-les-Bains</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Cauterets</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Chamrousse</span><span>Locations d'appartements</span></a></li>
               <li><a href=""><span>Crest-Voland</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Font-Romeu-Odeillo-Via</span><span>Locations de chalets</span></a></li>
               <li><a href=""><span>Gourette</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Gérardmer</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>La Bresse</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>La Plagne-Tarentaise</span><span>Locations de chalets</span></a></li>
               <li><a href=""><span>La Rosière</span><span>Locations d'appartements</span></a></li>
               <li><a href=""><span>Le Corbier</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Le Grand-Bornand</span><span>Locations de chalets</span></a></li>
               <li><a href=""><span>Les Angles</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Locations de maisons</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Les Belleville</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Les Contamines-Montjoie</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Les Rousses</span><span>Locations de maisons</span></a></li>
               <li><a href=""><span>Manigod</span><span>Locations d'appartements</span></a></li>
               <li><a href=""><span>Megève</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Le Mont-Dore</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Montgenèvre</span><span>Locations d'appartements</span></a></li>
               <li><a href=""><span>Métabief</span><span>Locations de chalets</span></a></li>
               <li><a href=""><span>Orcières</span><span>Locations d'appartements</span></a></li>
               <li><a href=""><span>El Pas de la Casa</span><span>Locations d'appartements</span></a></li>
               <li><a href=""><span>Puy-Saint-Vincent</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Risoul</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Saint-François-Longchamp</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Saint-Gervais-les-Bains</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Saint-Lary</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Saint-Lary-Soulan</span><span>Locations de vacances</span></a></li>
               <li><a href=""><span>Saint-Sorlin-d'Arves</span><span>Locations d'appartements</span></a></li>
               <li><a href=""><span>Val-d'Isère</span><span>Locations d'appartements</span></a></li>
               <li><a href=""><span>Valmeinier</span><span>Locations d'appartements</span></a></li>
               <li><a href=""><span>Villard-de-Lans</span><span>Locations de vacances</span></a></li>
              </ul>

            </div>

            <div id="onglet4" *ngIf="visibilityOngletMontagne" >
              <ul>
                <li><a href=""><span>Argelès-Gazost</span><span>Locations de vacances</span></a></li>
                <li><a href=""><span>Barcelonnette</span><span>Locations de vacances</span></a></li>
                <li><a href=""><span>Briançon</span><span>Locations de chalets</span></a></li>
                <li><a href=""><span>Chamonix</span><span>Locations de cabanes</span></a></li>
                <li><a href=""><span>Châtel</span><span> Locations de vacances</span></a></li>
                <li><a href=""><span>Combloux</span><span>Locations de chalets</span></a></li>
                <li><a href=""><span>Embrun</span><span>Locations de vacances</span></a></li>
                <li><a href=""><span>Fréjus</span><span>Locations de bungalows</span></a></li>
                <li><a href=""><span>La Bourboule</span><span></span>Locations de maisons</a></li>
                <li><a href=""><span>La Clusaz</span><span>Locations de vacances</span></a></li>
                <li><a href=""><span>Les Arcs</span><span>Locations de vacances</span></a></li>
                <li><a href=""><span>Les Gets</span><span>Locations d'appartements</span></a></li>
                <li><a href=""><span>Les Houches</span><span>Locations de vacances</span></a></li>
                <li><a href=""><span>Les Orres</span><span>Locations de vacances</span></a></li>
                <li><a href=""><span>Loudenvielle</span><span>Locations d'appartements</span></a></li>
                <li><a href=""><span>Malaga</span><span>Locations en bord de mer</span></a></li>
                <li><a href=""><span>Morillon</span><span>Locations d'appartements</span></a></li>
                <li><a href=""><span>Morzine</span><span>Locations de vacances</span></a></li>
                <li><a href=""><span>Pralognan-la-Vanoise</span><span>Locations de chalets</span></a></li>
                <li><a href=""><span>Praz-sur-Arly</span><span>Locations de vacances</span></a></li>
                <li><a href=""><span>Samoëns</span><span>Locations de maisons</span></a></li>
                <li><a href=""><span>Tignes</span><span>Locations de maisons</span></a></li>
                <li><a href=""><span>Valloire</span><span>Locations d'appartements</span></a></li>
                <li><a href=""><span>Vaujany</span><span>Locations de vacances</span></a></li>
              </ul>
            </div>

            <div id="onglet5" *ngIf="visibilityOngletCategorie" >
                  <ul>
                    <li><a href="">Piscines</a></li>
                    <li><a href="">Arctique</a></li>
                    <li><a href="">Camping</a></li>
                    <li><a href="">Caravanes</a></li>
                    <li><a href="">Conteneurs maritimes</a></li>
                    <li><a href="">Châteaux</a></li>
                    <li><a href="">Campagne</a></li>
                    <li><a href="">Design</a></li>
                    <li><a href="">Maisons organiques</a></li>
                    <li><a href="">Fermes</a></li>
                    <li><a href="">Parcs nationaux</a></li>
                    <li><a href="">Vignobles</a></li>
                    <li><a href="">Wow !</a></li>
                    <li><a href="">Tiny houses</a></li>
                    <li><a href="">Tours</a></li>
                    <li><a href="">Moulins à vent</a></li>
                    <li><a href="">Afficher plus</a></li>
                  </ul>
            </div>

            <div id="onglet6" *ngIf="visibilityOngletActivite" >
              <ul>
                <li><a href=""><span>Londres</span><span>Angleterre</span></a></li>
                <li><a href=""><span>Paris</span><span>Île-de-France</span></a></li>
                <li><a href=""><span> New York</span><span> New York</span></a></li>
                <li><a href=""><span>Barcelone</span><span>Catalogne</span></a></li>
                <li><a href=""><span>Istanbul</span><span>Istanbul</span></a></li>
                <li><a href=""><span>Bali</span><span>Indonésie</span></a></li>
                <li><a href=""><span>Amsterdam</span><span>Hollande-Septentrionale</span></a></li>
                <li><a href=""><span>Miami</span><span>Floride</span></a></li>
                <li><a href=""><span>Madrid</span><span>Communauté de Madrid</span></a></li>
                <li><a href=""><span>Los Angeles</span><span>Californie</span></a></li>
                <li><a href=""><span>Rome</span><span>Latium</span></a></li>
                <li><a href=""><span>Lisbonne</span><span>Lisbonne</span></a></li>
                <li><a href=""><span>Tokyo</span><span>Tokyo</span></a></li>
                <li><a href=""><span>Vienne</span><span>Vienne</span></a></li>
                <li><a href=""><span>Athènes</span><span>Grèce</span></a></li>
                <li><a href=""><span>Prague</span><span>Tchéquie</span></a></li>
                <li><a href=""><span>Orlando</span><span>Floride</span></a></li>
                <li><a href=""><span>Cancún</span><span> Quintana Roo</span></a></li>
                <li><a href=""><span>Santorin</span><span>Grèce</span></a></li>
                <li><a href=""><span>Mexico</span><span>Mexico City</span></a></li>
                <li><a href=""><span>Venise</span><span>Venise</span></a></li>
                <li><a href=""><span>Playa del Carmen</span><span>Quintana Roo</span></a></li>
                <li><a href=""><span>San Francisco</span><span>Californie</span></a></li>
                <li><a href=""><span>Las Vegas</span><span>Nevada</span></a></li>
                <li><a href=""><span>Boston</span><span>Massachusetts</span></a></li>
                <li><a href=""><span>San Diego</span><span>Californie</span></a></li>
                <li><a href=""><span>Chicago</span><span>Illinois</span></a></li>
                <li><a href=""><span>Seattle</span><span></span></a></li>
                <li><a href=""><span>Washington</span><span>Washington</span></a></li>
                <li><a href=""><span>District of Columbia</span><span>Atlanta</span></a></li>
                <li><a href=""><span>Géorgie</span><span></span></a></li>
                <li><a href=""><span>Austin</span><span>Texas</span></a></li>
                <li><a href=""><span>Maui</span><span>Hawaï</span></a></li>
                <li><a href=""><span>La Nouvelle-Orléans</span><span>Louisiane</span></a></li>
                <li><a href=""><span>San Juan</span><span>San Juan</span></a></li>
                <li><a href=""><span>O‘ahu</span><span>Hawaï</span></a></li>
                <li><a href=""><span>Denver</span><span>Colorado</span></a></li>
                <li><a href=""><span>Nashville</span><span>Tennessee</span></a></li>
                <li><a href=""><span>Charleston</span><span>Caroline du Sud</span></a></li><!--
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>
                <li><a href=""><span></span><span></span></a></li>

              Los Cabos
              Baja California Sur
              Savannah
              Géorgie
              Dubaï
              Dubaï
              Sėoul
              Sėoul
              France
              Berlin
              Berlin
              Canada
              Toronto
              Ontario
              Suisse
              Budapest
              Hongrie
              Espagne
              Portugal
              États-Unis
              Italie
              Grèce
              Malte
              Turquie
              Croatie
              Vancouver
              Colombie-Britannique
              Mexique
              Milan
              Lombardie
              Dublin
              County Dublin
              Allemagne
              Costa Rica
              Manhattan
              New York
              Japon
              Malaga
              Andalousie
              Copenhague
              Danemark
              Montréal
              Québec
              Bruxelles
              Bruxelles
              Valence
              Communauté valencienne
              Singapour
              Nice
              Provence-Alpes-Côte d'Azur
              Munich
              Bavière
              Majorque
              Îles Baléares
              Thaïlande
              Tulum
              Quintana Roo
              Irlande
              Porto
              District de Porto
              Angleterre
              Royaume-Uni
              Miami Beach
              Floride
              Tenerife
              Iles Canaries
              Pays-Bas
              Zürich
              Zurich
              Chypre
              Stockholm
              Comté de Stockholm
              Le Cap
              Cap-Occidental
              Norvège
              Sydney
              Nouvelle Galles du Sud
              Toscane
              Italie
              Mykonos
              Grèce
              Hawaï
              États-Unis
              Florence
              Toscane
              Colombie
              Kyiv
              Ukraine
              Antalya
              Antalya
              Islande
              Bangkok
              Thaïlande
              Buenos Aires
              Buenos Aires
              Bogotá
              Bogota
              Varsovie
              Mazovie -->
            </ul>

            </div>

      </div>

   </div>

   <br><br>
   <hr>

   <div class="foot2" >
      <ul>
          <li>Assisstance</li>
          <li><a href="/assisstance/help">Centre d'aide</a></li>
          <li><a href="/assisstance/cover">AirCover</a></li>
          <li><a href="/assisstance/discrimmation">Lutte contre la discrimination</a></li>
          <li><a href="/assisstance/handicap">Assistance handicap</a></li>
          <li><a href="/assistance/clean">Options d'annulation</a></li>
          <li><a href="/assist/issuer">J'ai un problème de voisinage</a></li>
      </ul>

      <ul>
        <li>Accueil de voyageurs</li>
        <li><a href="">Mettez votre logement sur Airbnb</a></li>
        <li><a href="">AirCover pour les hôtes</a></li>
        <li><a href="">Ressources pour les hôtes</a></li>
        <li><a href="">Forum de la communauté</a></li>
        <li><a href="">Hébergement responsable</a></li>
      </ul>

      <ul>
        <li>Airbnb</li>
        <li><a href="">Newsroom</a></li>
        <li><a href="">Carrières</a></li>
        <li><a href="">Nouvelles fonctionnalités</a></li>
        <li><a href="">Investisseurs</a></li>
        <li><a href="">Cartes cadeaux</a></li>
        <li><a href="">Séjours d'urgence Airbnb.org</a></li>
      </ul>
   </div>

   <div class="foot3" >
          <hr>
          <div>
                <ul>
                  <li>© {{year}} Airbnb, inc </li>  .
                  <li><a href="">Confidentialité</a></li>  .
                  <li><a href="">Conditions générales</a></li>  .
                  <li><a href="">Plan du site</a></li>  .
                  <li><a href="">Fonctionnement du site</a></li>  .
                  <li><a href="">Infos sur l'entreprise</a></li>
                </ul>

                <ul>
                  <li><a href="">langue</a></li>
                  <li><a href="">devise</a></li>
                  <li><a href="">logo_face</a></li>
                  <li><a href="">logo_twitter</a></li>
                  <li><a href="">logo_instagram</a></li>
                </ul>
          </div>
   </div>
</div>
