<p>choice-type-properties-bar works!</p>

<div>

    <div>
          <ul>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
            <li><a href=""><span></span><span></span></a></li>
          </ul>

          <button type="button" >Filters</button>
    </div>

    <div class="panel_filter" >
      <div>
        <p><span>X</span><span>Filters</span></p>
        <hr>
        <div>
            <div>
              <h2 style="width: 95%; margin: auto; padding-top: 1em;" >Type de logement</h2>
              <br>
              <p style="font-size: .78em; width: 95%; margin: auto;" >
                Une chambre dans un logement, avec accès à des espaces partagés. Les prix par nuit incluent frais et taxes.
              </p>
              <br>

              <ul>
                <li><span>Tous les types</span><span>422 en moyenne</span></li>
                <li><span>Chambres</span><span>124 en moyenne</span></li>
                <li><span>Logement entier</span><span>465 en moyenne</span></li>
              </ul>
              <br>
            </div> <hr>

            <div class="grille_prix" >
                <br><br>
                    <h2 style="margin-left: 1em;" >Fourchette de prix</h2>
                <br>
                    <form action="" method="post">
                        <div>
                            <div>
                              <label for="">Minimum</label><br>
                              {{devise}}<input type="text" name="valueMin" id="" value={{valueMin}} maxlength="4">
                            </div>
                              <span>-</span>
                            <div>
                              <label for="">Maximum</label><br>
                              {{devise}}<input type="text" name="valueMax" id="" value={{valueMax}} maxlength="4">
                            </div>
                        </div>
                    </form><br>
            </div><hr><br>

            <hr>

            <div class="bed_room" >
              <br>
                <h2 style="margin-left: 1em;" >Chambres et lits</h2>

              <div>
                <p style="margin-left: 1.5em;" >Chambres</p>
                <ul>
                  <li class="ul_room_active" >Tout</li>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8+</li>
                </ul>
              </div>
              <div>
                <p style="margin-left: 1.5em;" >Lits</p>
                <ul>
                  <li class="ul_bed_active" >Tout</li>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8+</li>
                </ul>
              </div>
              <div>
                <p style="margin-left: 1.5em;" >Salles de bain</p>
                <ul>
                  <li class="ul_bathroom_active" >Tout</li>
                  <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8+</li>
                </ul>
              </div>
              <br>
            </div><hr>

            <div class="type_property" >
                <br>
                <h2>Type de propriété</h2>
                <br>
                <ul>
                   <li><a href=""><span></span><span>Maison</span></a></li>
                   <li><a href=""><span></span><span>Appartement</span></a></li>
                   <li><a href=""><span></span><span>Maison d'hotes</span></a></li>
                </ul>
            </div><hr>

            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <hr>
        <p>
          <a href="">Tout effacer</a><a href="">Afficher les resultats</a>
        </p>
  </div>
    </div>


</div>
